body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.bg-primary {
    background-color: #FFB200 !important;
}

.font-blue {
    color: #682be0;
}

.text-navbar {
    color: rgb(86, 84, 84);
}

.bg-red {
    background-color: #F9322C;
}

@media (min-width: 600px) and (max-width: 800px) {
    .custom-form {
        width: 100%;
        /* Atur lebar menjadi 100% */
    }
}

@media (max-width: 599px) {
    .custom-form {
        width: 100%;
        /* Atur lebar menjadi 100% */
    }
}

/* CSS untuk layar antara 600px dan 991px (ukuran tablet) */
@media (min-width: 600px) and (max-width: 991px) {
    .custom-form {
        width: 100%;
        /* Atur lebar menjadi 100% */
    }
}

.hero .row img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 40%;
    /* Atur radius border menjadi setengah dari lebar atau tinggi gambar */
}

.btn:hover {
    background-color: #682be0;
}

#statistik {
    margin-top: -1px;
    
}
/* 
.title-website{
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
   -2px  2px 0 #000,
    2px  2px 0 #000,
   -2px  0px 0 #000,
    2px  0px 0 #000,
    0px -2px 0 #000,
    0px  2px 0 #000;
} */

.hero {
    margin-top: 100px;
    
    /* background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%); */
    background-image: url("/template/assets/images/hitam.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
    overflow: hidden; /* Untuk memastikan overlay tidak keluar dari elemen .hero */
    /* height: 100vh; Atau sesuai kebutuhan ketinggian elemen hero */
}

.content-hero {
    z-index: 2; /* Pastikan konten berada di atas overlay */
    color: white;    
}

.content {
    margin-top: 150px;
    
}


.form-control {
    height: 40px;
    border-width: 2px;
    background-color: #F3F3F3;

}

footer {
    bottom: 0;
}

.animasi {
    position: relative;
    animation: naikTurun 4s ease-in-out infinite;
}

@keyframes naikTurun {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }
}

.form-control:focus {
    box-shadow: none;
    border-color: #FFB200;
}

swiper-slide {
    cursor: pointer;
}

/* Stylesheet CSS */
#social-links {
    max-width: 500px;
}

#social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#social-links ul li {
    display: inline-block;
}

#social-links ul li a {
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 1px;
    font-size: 30px;
    color: white;
    background-color: #682be0;
    text-decoration: none; /* Menghilangkan underline dari tautan */
}

#social-links ul li a:hover {
    background-color: #8950fc;
    /* Tambahan gaya saat tombol dihover */
}

.card-custom {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-custom .card-body {
    text-align: center;
}
.card-custom .card-body .number {
    font-size: 2rem;
    font-weight: bold;
    color: #FFB200;
}
.card-custom .card-body .label {
    font-size: 1.2rem;
    color: #888;
}
.card-custom .card-body .icon {
    font-size: 3rem;
    color: #FFB200;
    margin-bottom: 10px;
}